<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
</head>
<body>

    <h1>To Do List</h1>
    <div>Enter new task:
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" name="Add Item">
        </form>
    </div>

    <div>
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            <li style="font-size: 20pt">{{ todo.text }}     <a style="font-size: 10pt" href="{{ url_for('complete', id=todo.id) }} ">Done ?</a> </li>
            {% endfor %}
        </ul>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            <li style="font-size: 10pt">{{ todo.text }}     <a href="{{ url_for('undo', id=todo.id) }} ">Undo</a> </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{{ url_for('clear') }}">
            <button type="submit">Clear</button>
        </form>
    </div>

</body>
</html>
